<div class="wrapper" style="background: url('<%= image_url "background.jpg"%>') no-repeat center center fixed;"></div>
<div class="index-main">
  <div class="index-container">
    <h1>Canvases</h1>
    <%= link_to "Male", male_nudies_path, method: :get, remote: true, class: "btn btn-primary" %>
    <%= link_to "Female", female_nudies_path, method: :get, remote: true, class: "btn btn-primary" %>
    <div class="card-container">
      <div id="gender_filter" class="row">
        <%= render 'index_cards' %>
      </div>
    </div>
  </div>
</div>
