.form-container {
  width:400px;
  margin:0 auto;
}

.index-container {
  width:800px;
  margin: 0px auto;
  padding-top: 50px;
}


.profile-container {
  margin: 20px 0;
}

.show-container{
  width:600px;
  margin: 0 auto;
}

