# code that lists all user variables, these are then rendered in the respective show pages
  <li>
    <%= @nudie.description %>
  </li>
  <li>
    <%= @nudie.weight %>
  </li>
  <li>
    <%= @nudie.user.age %>
  </li>
  <li>
    <%= @nudie.price %>
  </li>
