<div class="index-container">
  <h1>About us</h1>

  <h2>Art on a living art</h2>

  <p>
    We are born naked, we are diluting ourselves between borrowed clothes to finish in a mournful ceremony.
  </p>
  <p>
    Man is the only animal that requires fur according to the canons of market policies. At every moment a new cloth. We have become anti natural, “anti” to see the cellular reality of our instinct and essence. Each era was covered, since the man was manifested against the cold with a bison or wolf skin.
  </p>
  <p>
    For a time the nude went from expressions of love, sensuality to synonymy of averno and rot, today we see a naked and we try to locate it in context, our mind at the service of the contexts taught serves as a drawer indicator of the circuits between good or the bad. Hence the perennial confusion in the arts, both the sender and receiver.
  </p>

  <p>
    Paint . me . nude vows to change the perception of nudity and free our bodies from the prision of fabric.
  </p>

  <%= link_to "Start the movement today", nudies_path, class:"btn-primary" %>

</div>
