<div class="container">
  <h1>Paint Me Nude</h1>
  <h2>this is h2</h2>
  <h3>This is h3</h3>

  <h2>colours</h2>


  <h2>button</h2>

  <h2>paragraph</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis minima officia officiis ad culpa sequi minus eligendi odio voluptate nihil vel praesentium asperiores illum quos accusamus laudantium aliquid nostrum aspernatur, corporis laborum debitis. Dolorum praesentium similique magnam quo distinctio dolores. Perferendis, praesentium! Quaerat facilis dolor consequatur saepe harum repellendus aliquid!</p>
</div>

