<div class="navbar_placeholder" style='position:absolute; top:0; background-color:black;, z-index:99'></div>
<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%), url('<%= image_url "banner.jpeg"%>')">
  <div class="banner-content">
      <h1>paint . me . nude</h1>
  </div>
  <div class="banner-btn">
     <div class="button-group">
      <%= link_to "I'm a painter", nudies_path, class:'btn btn-signup btn-left'%>
      <%= link_to "I'm a canvas", user_signed_in? ? user_path(current_user) : new_user_registration_path, class:'btn btn-signup btn-right'%>
    </div>
  </div>
</div>
