.nudie-card {
  margin: 5px 2px;
  position: relative;
  border: 5px solid white;
  width: 260px;
  transition: 0.4s ease all;
  &:hover {
    transform: translateY(-5px);
    font-size: 26px;
  }

}

.nudie-card-photo {
  width: 250px;
  height: 300px;
}

.nudie-card-content {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: $light-gray;
}
