<!--<p>Price: <%#= @nudie.price %></p>-->

<div class="form-container">
  <%= simple_form_for(@appointment, method: :post, url: nudy_appointments_path(@nudie)) do |f| %>
    <%= f.input :location %>
    <%= f.input :appointment_date %>
    <%= f.submit "Create booking", class: "btn btn-primary" %>
  <% end %>
</div>

